* {
  box-sizing: border-box;
}

html, body, container {
    background: url("/static/weather/assets/app-index-background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    weight: 100%;
    overflow: hidden;
}

.current-location {
  text-align:center;
  color: blue;
  margin: 0 auto;
}

.day,.min{
  text-align:center;
}
.temp{
  text-align:center;
  margin: 0 auto;
}

.feels-like{
   text-align:center;
   font-size:20px;
  font-family: cursive;
}

.btn-group input{
  float:center;
}




