{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Comparison - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<br>
	<div class=container-fluid>
		
		<div class="row">
			<div class="col-4">
			</div>
			<div class="col-2">
				<h4 class="time"> 12:00 PM </h4>
			</div>
			<div class="col-2">
				<h4 class="day"> Thursday </h4>
			</div>
			<div class="col-4">
			</div>
		</div>
		
		<br>
		
		<div class="row">
			<div class="col-4">
			</div>
			<div class="col-1">
				<h2 class="temp"> 10 C</h2>
			</div>
			<div class="col-1">
				<h2 class="location"> SANTA CRUZ </h2>
			</div>
			<div class="col-1">
				<a href="/weather/forecast/alert/">
			<img src="/static/weather/assets/warning-icon.png" height=40px>
			</a>
			</div>
			<div class="col-1">
				<img src="/static/weather/assets/rain-icon.jpg" alt="icon wrt temperature" height=33px>
			</div>
			<div class="col-4">
			</div>
		</div>
		
		<div class="row">
			<div class="col-4">
			</div>
			<div class="col-1">
				<h2 class="temp"> 15 C</h2>
			</div>
			<div class="col-1">
				<h2 class="location"> PALO ALTO </h2>
			</div>
			<div class="col-1">
				<a href="/weather/forecast/alert/">
			<img src="/static/weather/assets/warning-icon.png" height=40px>
			</a>
			</div>
			<div class="col-1">
				<img src="/static/weather/assets/clouds.png" alt="icon wrt temperature" height=33px width=35px>
			</div>
			<div class="col-4">
			</div>
		</div>
		
		<br><br><br>
<br><br><br><br><br>		
		<div class="row">
			<div class="col-4">
			</div>
			<div class="col-4">
				<h1> Locations with weather advisories near you</h1>
			</div>
			<div class="col-4">
			</div>
		</div>
		
		<br> <br>
		
		<div class="row">
			<div class="col-4">
			</div>
			<div class="col-1">
				<img class="warning-icon" src="/static/weather/assets/back-button.png" height=35px>
			</div>
			<div class="col-1">
			</div>
			<div class="col-1">
				<img class="warning-icon" src="/static/weather/assets/home-button.png" height=40px>
			</div>
			<div class="col-1">
			</div>
			<div class="col-4">
			</div>
		</div>
		
		
		
		
	</div>
</body>
</html>
