{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Current Weather</title>

  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>

<body>
  <br>
  <div class=container-fluid>
    
  <div class="row">
    <div class="input-group">
      <div class="col-4">
      </div>
      <div class="col-3">
        <input type="text" class="form-control" placeholder="Enter location">
      </div>
      <div class="col-1">
        <img src="/static/weather/assets/search-icon.png" alt="search icon" height=38px>
      </div>
      <div class="col-4">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-2">
      <h4 class="time"> 12:00 PM </h4>
    </div>
    <div class="col-2">
      <h4 class="day"> Thursday </h4>
    </div>
    <div class="col-4">
    </div>
  </div>

  <div class="row">
    <div class="col-4">
    </div>
    <h1 class="current-location"> BERKELEY </h1>
    <div class="col-4">
    </div>
  </div>
  <br>


  <div class="row">
    <div class="col-5">
    </div>
    <h2 class="temp col-2"> 15 C</h2>
    <div class="col-1">
      <img src="/static/weather/assets/sunny.png" alt="icon wrt temperature" height=40px>
    </div>

    <div class="col-4">
    </div>
  </div>

  <p class="feels-like"> feels like 17 C </p>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-2">
      <h4 class="max"><strong>H</strong>: 20 C</h4>
    </div>
    <div class="col-2">
      <h4 class="min"><strong>L</strong>: 13 C</h4>
    </div>
    <div class="col-4">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-2">
      <h4 class="time"> 01:00 PM </h4>
    </div>
    <div class="col-1">
      <img src="/static/weather/assets/sunny.png" height=30px>
    </div>
    <div class="col-1">
      <h4> 16 C </h4>
    </div>
    <div class="col-4">
    </div>
  </div>

  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-2">
      <h4 class="time"> 02:00 PM </h4>
    </div>
    <div class="col-1">
      <img src="/static/weather/assets/sunny.png" height=30px>
    </div>
    <div class="col-1">
      <h4> 17 C </h4>
    </div>
    <div class="col-4">
    </div>
  </div>

  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-2">
      <h4 class="time"> 03:00 PM </h4>
    </div>
    <div class="col-1">
      <img src="/static/weather/assets/clouds.png" height=30px>
    </div>
    <div class="col-1">
      <h4> 15 C </h4>
    </div>
    <div class="col-4">
    </div>
  </div>
  
  <br> <br> <br> <br> <br>
  
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-1">
      <a href="/weather/comparison/" class="btn btn-primary active" role="button" aria-pressed="true">Comparison</a> 
    </div>
    <div class="col-2">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> celsius
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off"> fahrenheit
      </label>
    </div>
    </div>
    <div class="col-1">
      <a href="/weather/comparison/alert/">
        <img src="/static/weather/assets/warning-icon.png" height=40px>
      </a>
    </div>
    <div class="col-4">
    </div>
  </div>
  <br> <br>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-1">
      <img class="warning-icon" src="/static/weather/assets/back-button.png" height=35px>
    </div>
    <div class="col-1">
    </div>
    <div class="col-1">
      <img class="warning-icon" src="/static/weather/assets/home-button.png" height=40px>
    </div>
    <div class="col-1">
    </div>
    <div class="col-4">
    </div>
  </div>
  
  </div>
  


  <!--
  <div>
    <a href="/weather/forecast/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Forecast</a>
    <a href="/weather/forecast/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Forecast with alert</a>
    <a href="/weather/comparison/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comparison</a>
    <a href="/weather/comparison/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Comparison with alert</a>
  </div>
-->

</body>

</html>